/*TODO
1. find good font
2. make it look better
 */
body{
   /* min-height: 350px;
    width: 250px;*/
    max-width:270px;
    background-color: ghostwhite;
}
li{
    list-style-type: none;
}

h1{
    color: ghostwhite;
    font-size: 40px;
}

.citationSelection{
    width: 60px;
    height: 40px;
    background-color: dimgrey;
}
.citationSelection:hover{
    background-color: dimgray;
    opacity: 0.7;
}

#manualSection{
    bottom: 0px;
}

#titleDiv{
   background-color: black;
    width: 270px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items:center;
}
#citeFormats{
    display: inline-block;
    width: 100vw;
    padding: 5px 20px;
    margin: 0px;
}
#citeDisp{
    height: 150px;
}
#copyInstr{
    bottom:20px;
    font-size: 8px;
}
#titleInput{
    width: 200px;
}
#authorInput{
    width: 160px;
}
#urlInput{
    width: 220px;
}

